# Project information
site_name: "Nomage"
site_description: "Utility for parsing and converting naming conventions"
site_author: "Clément GUICHARD"
copyright: "Copyright &copy; 2026, Clément GUICHARD"

# Repository
repo_name: "CGuichard/nomage"
repo_url: "https://github.com/CGuichard/nomage"
edit_uri: edit/main/docs/src

# Configuration
site_dir: "build/html"
docs_dir: "src"
theme:
  name: material
  language: en
  features:
    - content.action.edit
    - content.action.view
    - content.code.copy
    - content.tabs.link
    - content.tooltips
    - navigation.footer
    - navigation.indexes
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
  logo: assets/img/icon.png
  favicon: assets/img/favicon.ico
  icon:
    repo: fontawesome/brands/github
  palette:
    # Palette toggle for auto-system mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: deep purple
      accent: deep purple
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: deep purple
      toggle:
        icon: material/weather-night
        name: Switch to system preference

# Extras
extra_css:
  - assets/css/extra.css

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
      use_pygments: true
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      base_path: ["..", "src"]
      check_paths: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true

# Plugins
plugins:
  - search
  - tags
  - termynal
  - gen-files:
      scripts:
        - scripts/gen_ref_pages.py
  - literate-nav:
      nav_file: SUMMARY.md
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: [../src]
          options:
            docstring_options:
              ignore_init_summary: true
              returns_multiple_items: false
            docstring_section_style: list
            docstring_style: google
            filters:
              - "!^_"
              - "^__"
            heading_level: 1
            line_length: 88
            merge_init_into_class: true
            separate_signature: true
            show_category_heading: true
            show_root_heading: true
            show_signature_annotations: true
            show_source: false
            summary: true
            unwrap_annotated: true

# Pages
nav:
  - Home: index.md
  - Getting started:
      - getting-started/install.md
      - getting-started/api.md
      - CLI: getting-started/cli.md
  - Learn:
      - learn/index.md
      - learn/conventions.md
      - Usage:
          - learn/usage/detect.md
          - learn/usage/check.md
          - learn/usage/convert.md
      - Advanced usage:
          - learn/advanced/custom_convention.md
  - API Reference: reference/api/
  - Development:
      - development/contributing.md
      - Code of Conduct: development/code_of_conduct.md
      - Source code: "https://github.com/CGuichard/nomage"
      - Issues: "https://github.com/CGuichard/nomage/issues"
  - About:
      - about/help.md
      - about/changelog.md
      - about/license.md

extra:
  # Versioning
  version:
    provider: mike
    alias: true
  # Footer links
  social:
    - icon: fontawesome/brands/github
      link: "https://github.com/CGuichard/nomage"
    - icon: fontawesome/brands/python
      link: "https://pypi.org/project/nomage/"
    - icon: fontawesome/brands/dev
      link: "https://github.com/CGuichard/nomage/issues"
